@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fonts/idroid.otf)format('Opentype');
}

body {
    background-color: #47f57b8a;
    margin:auto;
    overflow-x: hidden;
}

header {
    background-image:linear-gradient(to top, #22753B,  #47F57B);
    height: 150px;
    margin: -20px -8px  ;
    padding: 10px;
    box-shadow: 0 3px 9px black;
}

#titulo-principal {
    color: white;
    margin: 15px 0;
    text-align: center;
    font: normal bold 2em Arial, Helvetica, sans-serif;
}

#subtitulo {
    margin: 20px 0;
    color: white;
    font: normal normal 0.8em Arial, Helvetica, sans-serif;
    text-align: center;
}

nav {
    margin: 50px 10px;
}
.navegation {
    margin: 0px 8px;
    color: white;
    text-decoration: none;
    font: normal bold 0.9em Arial, Helvetica, sans-serif;
}
.navegation:hover {
    background-color: #22753bbe;
    padding:15px 15px 0 15px;
    border-radius: 8px;
}
.navegation:active {
    text-decoration: underline;
}

article {
    height: 100%;
    width: 550px;
    margin: 23px auto;
    padding: 5px 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 8px black;
    background-color: white;
}

h1 {
    font: normal normal 1.6em 'Android';
    color: #22753B;
}
.subtitulo-artigo{
    font:normal normal 1.3em 'Android';
    color: #22753B;
    background-image: linear-gradient(to right, #47f57bc7, #65fa925d);
}

p {
    text-align: justify;
    text-indent: 20px;
    font: normal 400 1em Arial, Helvetica, sans-serif;
}

.links-curiosidades{
    color: #22753B ;
    font: normal bold 1em Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.links-curiosidades:hover::after {
    content: '🔗';
    font-size: 15px;
    text-decoration: underline;
}

.irina-primeiro-mascote {
    width: 530px;
    margin: 10px 8px;
}

#bugdroid {
    margin: 0 70px;
}

#android-video {
    width: 560px;
    margin: -21px auto;
    padding: 15px ;
    border-radius: 2px;
    box-shadow: 1px 1px 8px black;
    background-color: #10361b;
}
iframe {
    margin:10px auto;
    padding: 15px 15px 15px 15px;
}

#background-aprenda-mais {
    width: 550px;
    height: 100%;
    margin: 22px auto;
    border-radius: 2px;
    background-color: white;
}

#lista-aprenda-mais {
    height: 100%;
    width: 555px;
    margin: 0 10px 0 -8px;
    padding: 0 10px 5px 0;
    border-radius: 9px;
    background-color: #47f57b8a;
}

#titulo-aprenda-mais {
    height: 35px;
    width: 558px ;
    margin: 5px auto;
    padding: 2px 2px 5px 5px;
    border-radius: 9px  ;
    background-color: #47F57B;
}

#quer-aprender-mais {
    margin: 10px -15px ;
    color: white;
    font: normal bold 0.9em Arial, Helvetica, sans-serif;
}

dl {
    padding: 0 100px 0 0;
    display: inline-block;
    text-decoration: underline;
}

footer {
    height: 30px;
    margin: -9px -8px ;
    padding: 3px 3px 3px 3px;
    background-color: #10361b;
}

#rodape {
    margin: 7px auto;
    text-align: center;
    font:  normal normal 0.9em Arial, Helvetica, sans-serif;
    color: white;
}
img {
    width: 100%;
}